.Content{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 70px 0 !important;
    .C-container{
        height: auto;
        padding: 0 !important; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
}